<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <strong> {{ car.carName }}</strong>
        </h4>
        <p class="card-text">{{ car.description }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Marka : </strong>{{ car.brandName }}</li>
        <li class="list-group-item"><strong>Model : </strong>{{ car.modelYear }}</li>
        <li class="list-group-item"><strong>Renk : </strong>{{ car.colorName }}</li>
        <li class="list-group-item">
          <strong>Günlük Ücret : </strong>{{ car.dailyPrice }} ₺
        </li>
      </ul>
    </div>
    <div class="card-body d-grid gap-3 mx-auto">
      <button [disabled]="!isLogged" type="button" (click)="rent()" pButton icon="pi pi-shopping-cart"
        class="p-button-success" label="Kirala"></button>
    </div>
  </div>
  <div class="col-8">
    <div id="carImageSlide" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner d-flex" style="height: 20vh; min-height: 25rem; max-height: 25rem">
        <div *ngFor="let image of carImages; index as i; first as firstImage" class="carousel-item align-self-center"
          [ngClass]="{ active: firstImage }" style="height: 100%; width: 100%">
          <img [src]="imageUrl + image.imagePath" class="" style="height: 100%; width: 100%;" [alt]="image.imagePath" />
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carImageSlide" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carImageSlide" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <div class="col-1">
    <div *ngIf="isAdmin" class="row justify-content-center">
      <p-button icon="pi pi-fw pi-cog" (click)="update(car)" styleClass="p-button-info p-button-sm"
        style="width: 3rem; margin-top: 3px;"></p-button>
    </div>
  </div>
</div>